HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.gradle/
app/
bin/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
node_modules
build/
!**/src/main/**/build/
**/src/main/**/node_modules/*
**/src/main/**/dist/*
**/src/main/**/build/*
!**/src/test/**/build/
**/.temp_cache/*

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
