name: Build Docker image on tag

on:
  push:
    tags:
      - '**'

jobs:
  tag_image:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 1.15
        uses: actions/setup-java@v1
        with:
          java-version: 1.15
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Cache multiple paths
        uses: actions/cache@v2
        with:
          path: |
            ~/cache
            !~/cache/exclude
            **/node_modules
            **/.gradle
          key: ${{ runner.os }}-${{ hashFiles('**/lockfiles') }}
      - name: Build Docker Image
        run: ./gradlew bootBuildImage --imageName=conductorsoftwarefactory/centra
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: conductorsoftwarefactory/centra:${GITHUB_REF#refs/tags/}