name: Build Docker image on tag

on:
  push:
    tags:
      - '**'

jobs:
  tag_image:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 1.15
        uses: actions/setup-java@v1
        with:
          java-version: 1.15
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Cache multiple paths
        uses: actions/cache@v2
        with:
          path: |
            ~/cache
            !~/cache/exclude
            **/node_modules
            **/.gradle
          key: ${{ runner.os }}-${{ hashFiles('**/lockfiles') }}
      - name: Get the version
        id: get_version
        run: echo ::set-output name=VERSION::${GITHUB_REF/refs\/tags\//}
      - name: Build Docker Image
        run: ./gradlew bootBuildImage --imageName=conductorsoftwarefactory/centra
      - uses: docker/setup-buildx-action@v1
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Push
        uses: docker/build-push-action@v2
        with:
          load: true
          tags: conductorsoftwarefactory/centra:${{ steps.get_version.outputs.VERSION }}
      - run: docker push conductorsoftwarefactory/centra:${{ steps.get_version.outputs.VERSION }}